@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
        /* color: #dbdbdb; */
	}
	50% {
		background-position: 100% 50%;
        /* color: white; */
	}
	100% {
		background-position: 0% 50%;
        /* color: #dbdbdb; */
	}
}

.animate-gradient {
    animation: gradient-animation 15s ease infinite;
}